# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\idea_upload_to_github\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
